* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 20px;
}

/* Nav */
.nav li {
  display: inline-flex;
  margin-right: 5%;
}

/* Track */
.track {
  display: flex;
  margin-bottom: 1%;
}

/* Artist */
.artist {
  display: flex;
}
.artist img, .track img {
  width: 60px;
  height:60px;
}
.artist img {
  border-radius: 50%;
}

/* Results */
.results {
  display: flex;
}

/* sign up/log in */
.sign-up-page {
  margin: 20%;
}

input.form-control,
select,
form button,
label {
  width: 100%;
  padding: 1%;
  margin: 2% 0% 2% 0%;
}

/* Filtered Search */
.filteredSearch {
  min-height: 100vh;
}