* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Sora", sans-serif;

}

.container {
  width: 90%;
  margin: 0 auto;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  padding: 20px;
}

/* Nav */
.nav li {
  display: inline-flex;
  margin-right: 5%;
}
.nav {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 3%;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

/* Track */
.track {
  display: flex;
  margin-bottom: 1%;
}
.modal .trackList {
  justify-content: center;
}

/* Artist */
.artist {
  display: flex;
}
.artist img,
.track img {
  width: 60px;
  height: 60px;
}
.artist img {
  border-radius: 50%;
}

/* Results */
.results {
  display: flex;
}

/* sign up/log in */
.sign-up-page {
  margin: 20%;
}

input.form-control,
select,
form button,
label {
  width: 100%;
  padding: 1%;
  margin: 2% 0% 2% 0%;
}

/* Filtered Search */
.filteredSearch {
  min-height: 100vh;
  z-index: 1;
}

/* Modal */
.modal {
  display: flex;
  width: 90%;
  height: 90%;
  position: fixed;
  border-radius: 10px;
  border: solid black;
  z-index: 10;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: auto;
}
.modal button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;
  opacity: 0.6;
  transition: 0.3s;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  border:none;
}

.modal button:hover {
  opacity: 1;
}

.icon {
  width: 40px;
  height: auto;
}
 /* search field */
 .search-field {
  height: 42.5px;
  border: 2px solid;
  padding: 10px 35px 10px 15px;
  border-radius: 100px 100px 100px 100px;
  outline: none;
  z-index: 9;
  background: transparent;
}